@{
    Layout=null;
}

@* This is a partiel view. It is NOT strongly typed, because there is no
    model specified here. *@

<div id="contact-info" class="container well">
    <p><span class="small-caps">Location</span><br />
    Dyrevensvej 33<br />
    8000 Aarhus C<br />
    MAP 
</p>
    <p><span class="small-caps">Hours</span><br />
    M-F 8am-6pm<br />
    Saturday 8am-2pm<br />
    Sunday 12pm-5pm
</p>
</div>
 